<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <a href="/showhome">Home</a> <br />
        <hr>
    </head>

    <body>
        <h2>{{ heading }}</h2>

        {% block body %}
        {% endblock %}

        <hr>
        Any Feedback? <br />
        
        <form action="/processfeedback" method="post">
            Email: <input type="text" name="email"> <br />
            Feedback: <input type="text" name="feedback"> <br />
            <input type="submit" value="Submit">
        </form>

    </body>

</html>        